*.pyc
.pronsolerc
*.swp
*.bak
uploads
.DS_Store
.vagrant
prontserve-env
printrun/gcoder_line.c
printrun/gcoder_line.so
*.suo
build/**
dist/**
dist32/**
build32/**
polypronter.spec
printrun/gcoder_line.pyd
pronterface.spec
publish.bat

